/*CSS Stylesheet for Printless homepage for screens.*/


/*Basics*/


html {/*background:url(/Users/michaeldesa/Desktop/Printless/print-without-ink-4.jpg) no-repeat;
	*/}

body {
	display:block;
	width:950px;
	margin-left:auto;
	margin-right:auto;
	font-family:"Times New Roman", Times, serif;
	font-size:12px;
	color:#000;
	margin-top:0px;
	margin-bottom:0px;
	
}

body a {color:#000; text-decoration:none;}
body a:link {color:#000; text-decoration:none;}
body a:visted {color:#333; text-decoration:none;}
body a:hover {color:#C00; text-decoration:none;}
body a:active {color:#333; text-decoration:none;}

ul {
	list-style-type:none;
}
h4 {
	font-size:16px;
	text-decoration:none;
}

.content {
	position:relative;
	display:block;
	background-color:#FFFs;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.header {
	display:block; width:100%; height:200px;
	margin:0px;
	padding:0px;
}

.header li { float:left;
}

.header a {
display:block;
width:3.5em;
margin:5px 5px 0px 0px;
}
.logo {
	display:block;
	float:left;
	border:0px;
	margin:70px 0px 0px 50px;
	padding:0px;
}
.user_menu {
	display:block;
	float:right;
	boarder:0px;
	padding:0px;
	margin-left:auto;
	margin-right:auto;
}

.social_links {
	display:block;
	right:10px;
	top:120px;
	margin:0px;
	boarder:0px;
	padding:0px;
}

.social_links img {
	width:20px;
	float:left;
}

.nav {
	display:block;
	width:100%;
	height:20px;
	font-family:Helvetica, sans-serif;
	padding:0px;
	margin:0px;
	font-size:18px;
}
.nav3 li{ float:left; padding:0 5px; list-style:none; }
.nav3 li a{ background:url(/* LEFT IMAGE */) no-repeat left top;
	height:45px; display:block; float:left; padding-left:20px;
	text-decoration:none; color:#000; }
.nav3 li a span { background:url(/* RIGHT IMAGE */) no-repeat right top;	display:block; padding:15px 20px 0 0; display:block; height:30px;
	float:left; } 
.nav a { color:#666;}
.nav a:link { color:#666; text-decoration:none;}
.nav a:visted {text-decoration:none;}
.nav3 ul {
	display:block;
	width:100%;
	height:30px;
}
	
.nav3 li {
	display:block;
	float:left;
	width:20%;
	text-align:center;
}

.top_articles {
	height:200px;
	width:100%;
	overflow:scroll;
}
.top_article_box {
	height:250px;
	width: 2400px;
}
.top_article_sample {
	display:block;
	height:250px;
	width:280px;
	margin:10px 10px 10px 0px;
	padding:0px;
	float:left;
}
.top_article_sample p {
	margin:5px;
}

.top_articles img {
	float:left;
}

.fundraisers {
	display:block;
	width:300px;
	float:left;
	height:250%
}
	
.project_sample {
	display:block;
	width:280px;
	height:230px;
	margin:10px;
}


.project_sample img {
	float:left;
	margin:10px;
}
.project_sample p {
	margin:5px;
}

.main_articles {
	display:block;
	
	text-align:center;
}
.main_article_sample {
	display:block;
	margin:10px;
}

.signin {
	display:block;
position:absolute;
left:550px;
	float:right;
	width: 200px;
	height: 300px;
	text-align:center;
	font-size:1em;
	background-color:#CCC;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin:20px;
}
.menu li {
	display:inline;
	text-align:center;
}
.footer {
	display:block;
	float:right;
	text-align:center;
	position:absolute;
	padding:50px;
	top-margin:10px;
}
	
